.Navbar{
  height:100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  opacity: 1;
  background-color: black;
  overflow-x: hidden;
  transition: 0.7s;
  display: flex;  
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.Navbar a {
  padding: 1rem 0px 1rem 0px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;

  justify-content: center;
  transition: 0.3s;
}

.Navbar a:hover{
  color: #818181;
}

@media screen and (max-height: 450px) {
  .Navbar {padding-top: 15px;}
  .Navbar a {font-size: 18px;}
}
