hr {
    width: 80%;
}

.repo-url{
    font-size: 27px;
    padding-left: 5px;
    text-decoration: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.repo{
    background-color: black;
    border: 1px solid white ;
    border-width: thin;
    border-radius: 25px;
    list-style-position:inside;
    display: block;
    margin: 0 0 10px 0;
}

.repo a:hover{
    color: red;
    text-decoration: underline;
}

.repo-desc{
    padding-left: 5px;
    font-size: 14px;
    text-decoration: none;
    color: white;   
}